sempre/interactive/sempre-out-socket.sml
sempre/interactive/last-sempre-output.sml
sempre/interactive/lassie.lexicon

src/*.ui
src/*.uo
src/*.dat
src/*.sig
src/*Theory.sml
src/.HOLMK/*
src/.hollogs/*

examples/*.ui
examples/*.uo
examples/*.dat
examples/*.sig
examples/*Theory.sml
examples/.HOLMK/*
examples/.hollogs/*
